@keyframes delayed-shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-3px);
  }
  30% {
    transform: translateX(5px);
  }
  45% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes initial-shake {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-anim {
  animation: initial-shake 1.5s ease-in-out 1 1s,
    delayed-shake 0.8s ease-in-out 1 6s;
}
